.center-title {
    text-align: center;
    padding: 1.5rem;
}

.form-col {
    max-width: 20rem;
    margin: 0 auto;
}

footer {
    text-align: center;
}

.center-button {
    text-align: center;
}

#auth {
    display: none;
}

#sheet-setup {
    display: none;
}

#ticket-entry {
    display: none;
}

#ga-options {
    display: none;
}

#loading {
    text-align: center;
}

.loading-img {
    border-radius: 50%;
    animation: rotation 2s infinite linear;
    width: 72px;
}

@keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}